.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}

.mainArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}

.productArea {
  flex: 1;
  overflow-y: auto;
  padding: 0.75rem;
}